@font-face {
    font-family: Eurofont;
    src: url("./assets/fonts/Hayward-SmBd.eot");
    src: url("./assets/fonts/Hayward-SmBd.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Hayward-SmBd.woff2") format("woff2"), url("./assets/fonts/Hayward-SmBd.woff") format("woff"), url("./assets/fonts/Hayward-SmBd.ttf") format("truetype");
    font-weight: normal;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}